{{ define "main" }}

{{/* Breadcrumbs */}}
{{ if not .IsHome }}
{{ partial "breadcrumbs.html" . }}
{{ end }}

<div {{ if .Param "autonumber" }} class="autonumber" {{ end }}>
  <div class="single-intro-container">
    {{/* Title and Summary */}}
    <h1 class="single-title">{{ .Title }}</h1>
    {{ with .Param "summary" }}
    <p class="single-summary">{{ . | markdownify }}</p>
    {{ end }}

    {{/* Reading Time */}}
    <p class="single-readtime">
      {{ with .Date }}
      {{ $dateMachine := . | time.Format "2006-01-02T15:04:05-07:00" }}
      {{ $dateHuman := . | time.Format (default ":date_long" $.Site.Params.singleDateFormat) }}
      <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
      {{end}}

      {{ if .Param "readTime" }}
      &nbsp; · &nbsp;
      {{ .ReadingTime }} min read
      {{end }}
    </p>

    {{/* Tags */}}
    {{ if .Params.tags }}
    <p class="post-tags">
      {{ range .Params.tags }}
      <a href="/tags/{{ . | urlize }}" class="tag">#{{ . }}</a>
      {{ end }}
    </p>
    {{ end }}
  </div>

  {{/* Table of Content */}}
  {{ if .Param "toc" }}
  <aside class="toc">
    <p><strong>Table of contents</strong></p>
    {{ .TableOfContents }}
  </aside>
  {{ end }}

  {{/* Page content */}}
  <div class="single-content">
    {{ .Content }}
  </div>

  {{ if .Store.Get "hasMermaid" }}
  <script type="module">
    import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.esm.min.mjs';
    mermaid.initialize({ startOnLoad: true });
  </script>
  {{ end }}

  {{/* Newsletter */}}
  {{ partial "newsletter" . }}

  {{/* Comments */}}
  {{ if .Site.Params.giscus.enable }}
  <div class="comments-section">
    <div class="comments-header">
      <h2>{{ if eq .Site.Language.Lang "pt" }}Comentários{{ else }}Comments{{ end }}</h2>
    </div>
    {{ partial "comments" . }}
  </div>
  {{ end }}

  {{/* Back to top */}}
  {{ if not (.Param "hideBackToTop") }}
  <div class="back-to-top">
    <a href="#top">back to top</a>
  </div>
  {{ end }}

  {{/* Next prev controls */}}
  {{ if not (.Param "hidePagination") }}
  {{ partial "pagination-single.html" . }}
  {{ end }}
</div>

{{ end }}

